<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Vuejs computed e watch e suas peculiaridades</title>
</head>

<body>

    <section>

        <div id="app">
            <h1>Cadastro de Agenda</h1>
            <form @submit.prevent="addContato">
                <input type="text" v-model="novoContato.nome" placeholder="Nome" required>
                <input type="text" v-model="novoContato.telefone" placeholder="Telefone" required>
                <input type="text" v-model="novoContato.email" placeholder="Email" required>
                <button type="submit" class="btn btnAdd">Adicionar</button>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(contato, i) in contatos" :key="i">
                        <td> {{contato.nome}} </td>
                        <td>{{contato.telefone}}</td>
                        <td>{{contato.email}}</td>
                        <td>
                            <button class="btn btnEditar" @click="editarContt(i)">Editar</button>
                            <button class="btn btnDeletar" @click="deletarContt(i)">Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>

        const app = new Vue({
            el: "#app",
            data: {
                novoContato: {
                    nome: "",
                    telefone: "",
                    email: ""
                },
                contatos: []
            },
            methods: {
                addContato() {
                    if (this.novoContato.nome && this.novoContato.telefone && this.novoContato.email) {
                        if (this.editI >= 0) {
                            this.$set(this.contatos, this.editI, {
                                ...this.novoContato
                            });
                            this.editI = -1;
                        } else {
                            this.contatos.push({
                                ...this.novoContato
                            });
                        }
                    }
                },
                editarContt(i) {
                    this.novoContato = {
                        ...this.contatos[i]
                    };
                    this.editI = i;
                },
                deletarContt(i) {
                   this.contatos.splice(i, 1);
                }
            }
        })
    </script>

</body>

</html>