*{
    box-sizing: border-box;
    
}
body{
    background-color: #efeded;
}
section{
    width: 100%;
    padding: 0 12%;
    margin: 12% 0;
}
.container{
    width: 100%;
    padding: 12px;
    border: 1px solid #acacac;
    border-radius: 5px;
    background-color: #ffffff;
}
.linha{
    height: 1px;
    width: 100%;
    background-color: #acacac;
    margin: 12px 0;
}
.contDiv{
    display: flex;
    min-width: 200px;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
}
.btn{
    margin-top: 8px ;
    width: 100%;
    max-width: 200px;
    padding: 12px;
    color: white;
    text-transform: uppercase;
    border-radius: 8px;
}
.btnAdd{
    background-color: green;
}
.btnEditar{
    background-color: blue;
}
.btnDeletar{
    background-color: red;
}
input{
    padding: 12px;
    border-radius: 8px ;
    color: #acacac;
    border: 1px solid #626262;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0 0 0;
}
th, td{
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}
th{
    background-color: #e7e7e7;
}
tr:hover{
    background-color: #f1f1f1;
}