*{
    box-sizing: border-box;
    
}
body{
    background-color: #efeded;
}
section{
    width: 100%;
    padding: 0 12%;
    margin: 12% 0;
}
.container{
    width: 100%;
    padding: 12px;
    border: 1px solid #acacac;
    border-radius: 5px;
    background-color: #ffffff;
}
.linha{
    height: 1px;
    width: 100%;
    background-color: #acacac;
    margin: 12px 0;
}
.contDiv{
    display: flex;
    min-width: 200px;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
}
.fotinha{
    width: 400px;
    height: 250px;   
}
.btn1{
    width: 100%;
    max-width: 350px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    color: white;
    margin: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
